@model Tuple<List<GProject.WebApplication.Models.ProductDTO>, List<GProject.Data.DomainClass.Color>,
List<GProject.Data.DomainClass.Size>, List<GProject.Data.DomainClass.Brand>,
List<GProject.Data.DomainClass.ViewHistory>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using GProject.WebApplication.Models
@using GProject.Api.MyServices.Services;
@using GProject.Data.DomainClass;
@using GProject.WebApplication.Helpers;
@using GProject.Data.MyRepositories.IRepositories;
@{
	ViewBag.Title = "Danh sách sản phẩm";
	Layout = "~/Views/Shared/_Layout.cshtml";

	IPromotionRepository _IPromotionRepository = new PromotionRepository();
	IPromotionDetailRepository _IPromotionDetalRepository = new PromotionDetailRepository();

	var promotiondata = (from p in _IPromotionRepository.GetAll()
							join q in _IPromotionDetalRepository.GetAll() on p.Id equals q.PromotionId
							where p.Status == GProject.Data.Enums.PromotionStatus.Happenning
							select new
							{
								Promotion = p,
								PromotionDetail = q
							}).ToList();

	List<Promotion> promotions = _IPromotionRepository.GetAll();
	Pager pager = new Pager();
	int pageNo = 0;

	if (ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}

	IList<SelectListItem> StoreItems = new List<SelectListItem>();
	var lstBrand = await Commons.GetAll<Brand>(String.Concat(Commons.mylocalhost, "Brand/get-all-Brand"));
	int brand = int.Parse(Html.Encode(ViewData["brand"]));
	if (lstBrand.Count > 0)
	{
		StoreItems.Add(new SelectListItem()
				{
					Value = "-1",
					Text = " Nhãn hiệu ",
					Selected = "-1" == brand.ToString(),
				});

		foreach (var br in lstBrand.Distinct().Where(x => x.Status == 1))
		{
			if (StoreItems.FirstOrDefault(c => c.Value == br.Id.ToString()) == null)
			{
				StoreItems.Add(new SelectListItem()
						{
							Value = br.Id.ToString(),
							Text = br.Name,
							Selected = br.Id == brand,
						});
			}
		}
	}

	var lstCategory = await Commons.GetAll<Category>(String.Concat(Commons.mylocalhost, "Category/get-all-Category"));
	IList<SelectListItem> CategoryItems = new List<SelectListItem>();
	Guid category = new Guid(Html.Encode(ViewData["category"]));
	if (lstCategory.Count > 0)
	{
		CategoryItems.Add(new SelectListItem()
				{
					Value = "-1",
					Text = " Danh mục ",
					Selected = "-1" == category.NullToString(),
				});

		foreach (var br in lstCategory.Where(x => x.Status == 1))
		{
			CategoryItems.Add(new SelectListItem()
					{
						Value = br.Id.ToString(),
						Text = br.Name,
						Selected = br.Id.ToString() == category.NullToString(),
					});
		}
	}

	int checkPg = int.Parse(Html.Encode(ViewData["pg"]));
}

<div class="slider-area">

	<!-- Main Slider -->
	<div class="swiper-container main-slider swiper-arrow with-bg_white">
		<div class="swiper-wrapper">
			<div class="swiper-slide animation-style-01">
				<div class="slide-inner bg-height" data-bg-image="assets/images/slider/bg/1-1.jpg">
					<div class="parallax-img-wrap">
						<div class="chilly">
							<div class="scene fill">
								<div class="expand-width" data-depth="0.2">
									<img src="assets/images/banner/screenshot_1689753713.png" alt="Inner Image">
								</div>
							</div>
						</div>
						<div class="avocado">
							<div class="scene fill">
								<div class="expand-width" data-depth="0.5">
									<img src="assets/images/banner/screenshot_1689753959.png" alt="Inner Image">
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="parallax-with-content">
							<div class="slide-content">
								<span class="sub-title mb-3">ADIDAS</span>
								<h2 class="title mb-9">Đại hạ giá. Upto -40% <br>Năng động.</h2>
								<div class="button-wrap">
									<a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="shop.html">Shop Now</a>
								</div>
							</div>
							<div class="parallax-img-wrap">
								<div class="tomatoes">
									<div class="scene fill">
										<div class="expand-width" data-depth="0.5">
											<img src="assets/images/banner/screenshot_1689754349.png" alt="Inner Image">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide animation-style-01">
				<div class="slide-inner bg-height" data-bg-image="assets/images/slider/bg/1-1.jpg">
					<div class="parallax-img-wrap">
						<div class="chilly">
							<div class="scene fill">
								<div class="expand-width" data-depth="0.2">
									<img src="assets/images/banner/Nike3.png" alt="Inner Image">
								</div>
							</div>
						</div>
						<div class="avocado">
							<div class="scene fill">
								<div class="expand-width" data-depth="0.5">
									<img src="assets/images/banner/Nike2.png" alt="Inner Image">
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="parallax-with-content">
							<div class="slide-content">
								<span class="sub-title mb-3">NIKE</span>
								<h2 class="title mb-9">Giảm giá 40% từng loại sản phẩm <br>Trẻ trung.</h2>
								<div class="button-wrap">
									<a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="shop.html">MUA NGAY</a>
								</div>
							</div>
							<div class="parallax-img-wrap">
								<div class="tomatoes">
									<div class="scene fill">
										<div class="expand-width" data-depth="0.5">
											<img src="assets/images/banner/Nike1.png" alt="Inner Image">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Add Pagination -->
		<div class="swiper-pagination with-bg d-md-none"></div>

		<!-- Add Arrows -->
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>

</div>

<div class="new_arrivals" style="margin-top: 125px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="shipping-item">
					<div class="shipping-img">
						<img src="assets/images/shipping/icon/plane.png" alt="Shipping Icon">
					</div>
					<div class="shipping-content">
						<h5 class="title">Free Shipping</h5>
						<p class="short-desc mb-0">Free Home Delivery Offer</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-6 pt-md-0">
				<div class="shipping-item">
					<div class="shipping-img">
						<img src="assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
					</div>
					<div class="shipping-content">
						<h5 class="title">Online Support</h5>
						<p class="short-desc mb-0">24/7 Online Support Provide</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
				<div class="shipping-item">
					<div class="shipping-img">
						<img src="assets/images/shipping/icon/shield.png" alt="Shipping Icon">
					</div>
					<div class="shipping-content">
						<h5 class="title">Secure Payment</h5>
						<p class="short-desc mb-0">Fully Secure Payment System</p>
					</div>
				</div>
			</div>
		</div>
        <div class="product-area section-space-top-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content" id="myTabContent">
                            <!--phần 2-->
                            <div class="tab-pane fade show active" id="all-items" role="tabpanel" aria-labelledby="all-items-tab">
                                <div class="product-item-wrap row"><!--Col bên dưới-->
									@if(Model.Item1.ToList().Count() > 0)
									{
										@foreach(var x in Model.Item1.ToList())
										{
											var existProdPromotion = promotiondata.Where(c => c.PromotionDetail.ProductId == x.Product.Id).FirstOrDefault();
											var getCategory = lstCategory.FirstOrDefault(c => c.Id == x.Product.CategoryId);
											var getbrand = lstBrand.FirstOrDefault(c => c.Id == x.Product.BrandId);
											<div class="col-xl-3 col-lg-4 col-sm-6 @getCategory.Id @getbrand.Id">
												<div class="product-item">
													<div class="product-img img-zoom-effect">
														<a href="/productdetail/@x.Product.Id">
															@{
																string image = "";
																if (x.ProductVariations != null && x.ProductVariations.Count > 0)
																{
																	var imgItem = x.ProductVariations.Select(c => c.Image).FirstOrDefault();
																	image = imgItem != null ? imgItem : "";
																}
															}
															<img class="img-full" src="~/images/@image" style="width:300px;height:366px;" alt="Product Images">
														</a>
													</div>
													<div class="product-content">
														<a class="product-name" href="/productdetail/@x.Product.Id">@x.Product.Name</a>
														@if(existProdPromotion == null){
															<div class="price-box pb-1">
																<span class="new-price" style="color:red;">@string.Format("{0:0,0} đ",Convert.ToDouble(x.Product.Price.ToString()))</span>
															</div>
														}
														else
														{
															<div class="price-box pb-1">
																<span class="new-price" style="color:red;">
																	@string.Format("{0:0,0} đ",Convert.ToDouble(existProdPromotion.PromotionDetail.CurrentPrice.ToString()))
																	<del style="color:dimgray;">
																		@string.Format("{0:0,0} đ",
															Convert.ToDouble(existProdPromotion.PromotionDetail.InitialPrice.ToString()))
																	</del>
																</span>
															</div>
														}

													</div>
												</div>
											</div>
										}
									}
									
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="container">
			@if (pager.TotalPages > 0)
			{
				<ul class="pagination justify-content-end">
					@if (pager.CurrentPage < pager.TotalPages)
					{
						<li class="page-item">
								<a class="page-link" asp-controller="Product" asp-action="Index"
									asp-route-pg="@(pager.CurrentPage - 1)">
									Prev
								</a>
							</li>

					}
					
					@for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
					{
						@if (pge == checkPg)
						{
							<li class="page-item @(pge == pager.CurrentPage ? "Active" : "")">
								<a class="page-link" asp-controller="Product" style="color: white; background-color: #206af1;"
									asp-action="Index" asp-route-pg="@pge">@pge</a>
							</li>
						}
						else
						{
							<li class="page-item @(pge == pager.CurrentPage ? "Active" : "")">
								<a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pg="@pge">@pge</a>
							</li>
						}
					}


					@if (pager.CurrentPage < pager.TotalPages)
					{
						<li class="page-item">
							<a class="page-link" asp-controller="Product" asp-action="Index"
								asp-route-pg="@(pager.CurrentPage + 1)">
								Next
							</a>
						</li>

					}
				</ul>
			}
		</div>
	</div>
	<div class="banner-area banner-with-parallax py-10" data-bg-image="assets/images/banner/2-1-1920x523.jpg">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="parallax-img-wrap">
						<div class="papaya">
							<div class="scene fill">
								<div class="expand-width" data-depth="0.2">
									<img src="assets/images/banner/screenshot_1689753713.png" alt="Banner Images">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 align-self-center">
					<div class="banner-content text-white text-center text-md-start">
						<div class="section-title">
							<span class="sub-title">New Offer Products</span>
							<h2 class="title font-size-60 mb-6">SAVE 20% OFF</h2>
						</div>
						<div class="countdown-wrap">
							<div class="countdown item-4" data-countdown="2024/01/01" data-format="short">
								<div class="countdown__item me-3">
									<span class="countdown__time daysLeft"></span>
									<span class="countdown__text daysText"></span>
								</div>
								<div class="countdown__item me-3">
									<span class="countdown__time hoursLeft"></span>
									<span class="countdown__text hoursText"></span>
								</div>
								<div class="countdown__item me-3">
									<span class="countdown__time minsLeft"></span>
									<span class="countdown__text minsText"></span>
								</div>
								<div class="countdown__item">
									<span class="countdown__time secsLeft"></span>
									<span class="countdown__text secsText"></span>
								</div>
							</div>
						</div>
						<div class="button-wrap pt-10">
							<a class="btn btn-custom-size lg-size btn-white rounded-0" href="shop.html">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



